

# ---- каталоги пакетов ----
node_modules/
.pnpm-store/
# если используете nix/snowpack/cargo или что-то ещё – добавьте их кэши

# ---- build/caches ----
dist/
build/          # CRA
.vite/
.svelte-kit/
.next/
.cache/
coverage/

# ---- логи ----
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# ---- файлы IDE / ОС ----
.vscode/
.idea/
.DS_Store
Thumbs.db

# ---- Git ----
.git
.gitignore
